[Unit]
SourcePath=/etc/init.d/clue-splash
Description=Clue Splash
Before=multi-user.target
After=network.target local-fs.target remote-fs.target
Wants=clue-picam.service clue-bridge.service clue-mcpi.service

[Service]
Type=forking
ExecStart=/etc/init.d/clue-splash start
ExecStop=/etc/init.d/clue-splash stop

[Install]
WantedBy=multi-user.target
Alias=clue-splash.service
