Origin: AMSD
Package: clue-splash
Version: 1.4.1
Priority: required
Section: main
Installed-Size: 0000
Architecture: armhf
Depends: libpng12-0, libjpeg62-turbo, libfreetype6, uthash-dev
Maintainer: damian.stefan@gmail.com
Description: Splash application for Clue OS to display boot screen and sequences for OS installer and main screens
